[Unit]
Description=Run OCI QC Cache Cleanup every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=oci_qc_cleanup.service

[Install]
WantedBy=timers.target

